{
	"trailingComma": "es5",
	"tabWidth": 4,
	"semi": true,
	"singleQuote": false,
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./tailwind.config.js",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"printWidth": 140,
	"proseWrap": "preserve",
	"useTabs": true
}
