@tailwind base;
@tailwind components;
@tailwind utilities;

/* By Molik */
@layer components {
    .primary_gradient_borders {
        border-image-slice: 1;
        border-image-source: linear-gradient(45deg, #7b35c8, #0098ff);
        border-image-width: 1;
    }
}
